@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
  background-color: rgba(242, 242, 242, 1);
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

h3 {
  margin: 0;
}

h2 {
  margin: 0;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

/*
.visually-hidden {
  color: tomato;
  display: none;
}
*/

.page-header {
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  background-color: #ffffff;
  text-align: center;
  font-weight: 700;
}

.navigation {
  display: flex;
  flex-direction: row;
}

.navigation-logo {
  width: 140px;
  padding-left: 70px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 400px;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-link {
  color: inherit;
  text-decoration: none;
}

.navigation-link-current {
  border-bottom: 2px solid rgba(117, 98, 87, 1);
}

.button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.button-brown {
  background: rgba(117, 97, 87, 1);
}

.navigation-button {
  margin-right: 70px;
}

.button-blue {
  background: #82b3d3;
}

.button-green {
  background: #7db54f;
}

.button-grey {
  background: #f2f2f2;
  color: #333333;
}

.hero {
  height: 485px;
  background-image: url("../images/index/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #808080;
}

.diveder {
  background-image: url("../images/index/divider.svg");
  background-repeat: no-repeat;
  background-size: 1200px 57px;
  background-position: center bottom;
}

.advantages {
  margin: 0;
  padding: 0;
}

.advantages-main-title {
  background: #ffffff;
}

.advantages-top-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: rgba(0, 0, 0, 1);
}

.advantages-bottom-text {
  font-size: 22px;
  line-height: 26px;
}

.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  width: 400px;
  height: 384px;
}

.advantages-photo {
  width: 800px;
}

.advantages-photo-text {
  color: #ffffff;
  background: #82b3d3;
}

.advantages-photo-text h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantages-photo-text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.advantages-item-home {
  background-image: url("../images/index/home.svg");
  background-repeat: no-repeat;
}

.advantages-item-lighter {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-light {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-item-grey {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-white {
  background: #ffffff;
}

.hotel-search {
  width: 1200px;
  height: 406px;
  background-color: #ffffff;
}

.hotel-search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-search-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.subscribe {
  height: 415px;
  color: #ffffff;
  background-color: #808080;
  border: 1px solid #000000;
  background-image: url(../images/index/subscribe-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.subscribe-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-email-field {
  background: #f2f2f2;
  border-radius: 4px 0 0 4px;
}

.subscribe-button {
  background: #82b3d3;
  border-radius: 0 4px 4px 0;
}

.page-footer {
  background-color: #ffffff;
}

.footer-container {
  width: 1060px;
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px;
}

.footer-social {
  width: 142px;
}

.footer-social-button {
  background: #83b3d3;
}

.footer-telephone-number {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  width: 720px;
}

.footer-academy-site {
  width: 115px;
}

.main-inner {
  text-align: left;
}

.catalog-control-block {
  height: 412px;
  color: #ffffff;
  background-color: #000000;
  background-image: url(../images/catalog/catalog-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.control-block-container {
  display: flex;
  flex-direction: column;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-group {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
}

.filter-group-infrastructure {
  width: 150px;
}

.filter-group-type {
  width: 160px;
}

.catalog {
  background: #ffffff;
  height: 1235px;
}

.sorting {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.catalog-result-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.products {
  height: 896px;
  margin: 0 auto;
}

.product-card {
  width: 340px;
  height: 438px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.product-list {
  width: 1060px;
  height: 896px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  align-content: space-between;
}

/*
.product-list li:last-child {
margin-right: auto;
}
*/

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.product-card-image {
  margin: 20px 20px 16px 20px;
}

.product-card-title {
  margin: 0 20px 16px 20px;
}

.product-card-price {
  text-align: right;
}

.pagination {
  list-style: none;
  display: flex;
  margin: 80px 70px 0;
  padding-left: 0;
  padding-bottom: 60px;
}

.pagination-item {
  width: 60px;
  height: 60px;
}

.pagination-link {
  border-radius: 4px;
  display: block;
  margin-right: 8px;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background: #82b3d3;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-current {
  background: #f2f2f2;
  color: #000000;
}

.pagination-select {
  background: none;
  color: #000000;
}

.subscribe-white {
  background: none;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  border: 0;
}
