@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
  background-color: rgba(242, 242, 242, 1);
  text-align: center;
  margin: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  display: flex;
  height: 64px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  background-color: #ffffff;
}

.navigation-logo {
  margin-left: 70px;
}

.navigation-list {
  margin: 0 0 0 30px;
  padding: 0;
  list-style: none;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user {
  justify-content: flex-end;
  width: 300px;
  margin-left: auto;
}

.navigation-link {
  display: block;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  padding: 20px 16px;
}

.navigation-user .navigation-link {
  min-width: 44px;
  min-height: 64px;
}

.navigation-link-current {
  border-bottom: 2px solid rgba(117, 98, 87, 1);
}

.navigation-link-selected {
  border: 1px solid #000000;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.navigation-button a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 8px 34px;
}

.button-brown {
  background: rgba(117, 97, 87, 1);
}

.navigation-button {
  margin-right: 70px;
  width: 160px;
  height: 36px;
  align-self: center;
}

.button-blue {
  background: #82b3d3;
}

.button-green {
  background: #7db54f;
}

.button-grey {
  background: #f2f2f2;
  color: #333333;
  font-weight: 400;
}

.hero {
  min-height: 485px;
  background-image: url("../images/index/divider.svg"), url("../images/index/hero.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain, cover;
  background-color: #808080;
}

.hero img {
  padding-top: 51px;
}

.diveder {
  background-image: url("../images/index/divider.svg");
  background-repeat: no-repeat;
  background-size: 1200px 57px;
  background-position: center bottom;
}

.advantages-title {
  background-color: #FFFFFF;
  padding: 70px 0 90px;
}

.advantages-title-top-text {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-title-bottom-text {
  margin: 25px 0 0;
  font-size: 22px;
  line-height: 26px;
  margin-top: 25px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  list-style-type: none;
}

.advantages-item {
  padding: 0 85px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 384px;
}

.advantages-item-blue {
  background: #82B3D3;
  color: #ffffff;
}

.advantages-item-grey {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-light-blue {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-item-white {
background-color: #ffffff;;
}

.advantages-item-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-discription {
  margin: 62px 0 0;
}

.advantages-item-photo {
  grid-column: span 2;
}

.advantages-item-photo img {
  object-fit: contain;
}

.hotel-search {
  background-color: #ffffff;
}

.hotel-search-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 96px 304px;
}

.hotel-search-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-search-text {
  margin: 20px 0 0 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.hotel-search-button {
  margin: 54px 0 0 0;
  width: 376px;
  height: 52px;
}

.hotel-search-button a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 8px 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.subscribe {
  color: #ffffff;
  background-color: #808080;
  border: 1px solid #000000;
  background-image: url(../images/index/subscribe-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.subscribe-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 96px 258px 104px;
}

.subscribe-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.subscribe-text {
  margin: 20px 0 54px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-email-wrapper {
  margin: 0;
  display: flex;
}

.subscribe-form {
  display: flex;
}

.subscribe-email-field {
  margin: 0;
  padding: 0;
  width: 452px;
  height: 52px;
  background: #f2f2f2;
  border-radius: 4px 0 0 4px;
  border: none;
}

.subscribe-button {
  border-radius: 0 4px 4px 0;
  border: none;
  padding: 8px 50px;
}

.page-footer {
  background-color: #ffffff;
}

.footer-container {
  width: 1060px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
}

.footer-social {
  width: 142px;
}

.footer-social-button {
  background: #83b3d3;
}

.footer-social-list {
  width: 144px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

}

.footer-social-item {
width: 48px;
height: 60px;
}

.footer-telephone-number {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  width: 720px;
}

.footer-academy-site {
  width: 115px;
}

.main-inner {
  text-align: left;
}

.catalog-control-block {
  height: 412px;
  color: #ffffff;
  background-color: #000000;
  background-image: url(../images/catalog/catalog-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.control-block-container {
  margin: 0;
  padding: 35px 70px 70px;
  display: flex;
  flex-direction: column;
}

.inner-header-title {
  margin: 0 0 8px 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  margin: 0 0 40px 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-group {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
}

.filter-group-infrastructure {
  width: 150px;
}

.filter-group-type {
  width: 160px;
}

.catalog {
  background: #ffffff;
  padding: 50px 70px 60px;
}

.sorting {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.catalog-result-title {
  margin: 0 auto 0 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.select-control {
  width: 292px;
}

.select-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-width: 160px;
  display: flex;
  justify-content: flex-end;

}

.select-item {
  min-width: 48px;
}

.products {
  margin: 40px auto 0;
}

.product-list {
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

.product-card {
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 20px;
  display: grid;
  grid-template-columns: 140px 140px;
  column-gap: 20px;
  row-gap: 16px;
}

.product-card-link {
  grid-column: span 2;
  text-decoration: none;
}

.product-card-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.product-card-price {
  justify-self: end;
}

.pagination {
  margin: 80px 0 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.pagination-item {
  width: 60px;
  height: 60px;
  background: #82b3d3;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-item-current {
  background: #f2f2f2;
  color: #000000;
}

.pagination-select {
  background: none;
  color: #000000;
}

.pagination-select .pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
  text-decoration: none;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
}

.pagination-link-current {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
  text-decoration: none;
}

.subscribe-no-background {
  background: none;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  border: 0;
}
