@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
  background-color: rgba(242, 242, 242, 1);
  text-align: center;
  margin: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  padding: 0 70px;
  display: flex;
  height: 64px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  background-color: #ffffff;
  z-index: 1;
}

.navigation-logo {
  z-index: 1;
}

.navigation-list {
  margin: 0 0 0 30px;
  padding: 0;
  list-style: none;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user {
  justify-content: flex-end;
  width: 300px;
  margin-left: auto;
}

.navigation-user .navigation-link {
  min-width: 44px;
  min-height: 64px;
}

.navigation-link {
  display: block;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  padding: 20px 16px;
  position: relative;
}

.navigation-link-current::before {
  position: absolute;
  right: 16px;
  bottom: 0;
  left: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-link:focus {
  outline: 1px solid #000000;
}

.navigation-link-search {
  background-image: url("../images/header/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-link-favorites {
  background-image: url("../images/header/favorites.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.navigation-link-favorites::after {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 20px;
  top: 11px;
  background-color: #7db54f;
  border-radius: 50%;
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
  content: "12";
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px;
  text-decoration: none;
}

.button a {
  color: inherit;
  text-decoration: none;
}

.button-brown {
  color: #FFFFFF;
  background: rgba(117, 97, 87, 1);
  transition: 200ms linear;
}

.button-brown:hover {
  background-color: #615048;
}

.button-brown:focus {
  background-color: #615048;
}

.button-blue {
  color: #FFFFFF;
  background: #82b3d3;
  transition: 200ms linear;
}

.button-blue:hover {
  background-color: #68A2CA;
}

.button-blue:focus {
  background-color: #68A2CA;
}

.button-green {
  color: #FFFFFF;
  background: #7db54f;
  transition: 200ms linear;
}

.button-green:hover {
  background-color: #6C9E42;
}

.button-green:focus {
  background-color: #6C9E42;
}

.button-brown:active,
.button-blue:active,
.button-green:active,
.button-clean:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-brown:disabled,
.button-blue:disabled,
.button-green:disabled {
  background: #E5E5E5;
}

.button-grey {
  background: #f2f2f2;
  color: #333333;
  font-weight: 400;
}

.button-clean {
  color: #FFFFFF;
  background: none;
  transition: 200ms linear;
}

.button-clean:hover {
  opacity: 0.6;
}

.button-clean:focus {
  outline: 3px solid #83B3D3;
}

.button-clean:disabled {
  opacity: 0.1;
}

.navigation-button {
  margin-top: 14px;
  margin-left: 20px;
  width: 160px;
  height: 36px;
  padding: 0;
}

.hero {
  min-height: 485px;
  background-image: url("../images/index/divider.svg"), url("../images/index/hero.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain, cover;
  background-color: #808080;
}

.hero img {
  padding-top: 51px;
}

.diveder {
  background-image: url("../images/index/divider.svg");
  background-repeat: no-repeat;
  background-size: 1200px 57px;
  background-position: center bottom;
}

.advantages-title {
  background-color: #FFFFFF;
  padding: 70px 0 90px;
}

.advantages-title-top-text {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-title-bottom-text {
  margin: 25px 0 0;
  font-size: 22px;
  line-height: 26px;
  margin-top: 25px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  list-style-type: none;
}

.advantages-item {
  padding: 0 85px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 384px;
}

.advantages-item-blue {
  background: #82B3D3;
  color: #ffffff;
}

.advantages-item-grey,
.advantages-item-housing,
.advantages-item-souvenirs {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-light-blue {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-item-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  position: relative;
}

.advantages-item-blue .advantages-item-title::before {
position: absolute;
width: 60px;
height: 2px;
bottom: -32px;
left: 50%;
margin-left: -30px;
background-color: rgba(255, 255, 255, 0.3);
content: "";
}

.advantages-item-grey .advantages-item-title::before,
.advantages-item-light-blue .advantages-item-title::before {
  position: absolute;
  width: 60px;
  height: 2px;
  bottom: -32px;
  left: 50%;
  margin-left: -30px;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}

.advantages-item-discription {
  margin: 62px 0 0;
}

.advantages-item-housing .advantages-item-discription,
.advantages-item-food .advantages-item-discription,
.advantages-item-souvenirs .advantages-item-discription {
  margin: 30px 0 0;
}

.advantages-item-housing .advantages-item-title,
.advantages-item-food .advantages-item-title,
.advantages-item-souvenirs .advantages-item-title {
  margin-top: 182px;
}

.advantages-item-housing .advantages-item-title::before {
  position: absolute;
  width: 76px;
  height: 72px;
  top: -102px;
  left: 50%;
  margin-left: -38px;
  content: url(../images/index/home.svg);
}

.advantages-item-food .advantages-item-title::before {
  position: absolute;
  width: 74px;
  height: 70px;
  top: -102px;
  left: 50%;
  margin-left: -37px;
  content: url(../images/index/food.svg);
}

.advantages-item-souvenirs .advantages-item-title::before {
  position: absolute;
  width: 64px;
  height: 76px;
  top: -102px;
  left: 50%;
  margin-left: -32px;
  content: url(../images/index/gifts.svg);
}

.advantages-item-photo {
  grid-column: span 2;
}

.advantages-item-photo img {
  object-fit: contain;
}

.hotel-search {
  background-color: #ffffff;
}

.hotel-search-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 96px 304px;
}

.hotel-search-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-search-text {
  margin: 20px 0 0 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.hotel-search-button {
  margin: 54px 0 0 0;
  width: 376px;
  height: 52px;
}

.hotel-search-button a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 8px 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.subscribe {
  color: #ffffff;
  background-color: #808080;
  background-image: url(../images/index/subscribe-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.subscribe-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 96px 258px 104px;
}

.subscribe-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.subscribe-text {
  margin: 20px 0 54px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-form {
  display: flex;
}

.subscribe-email-field {
  margin: 0;
  padding: 14px 20px;
  width: 452px;
  background: #f2f2f2;
  border-radius: 4px 0 0 4px;
  border: none;
  font-size: 18px;
  line-height: 24px;
  color:#000000;
}

.subscribe-email-field::placeholder {
  font:inherit;
  opacity: 0.6;
}

.subscribe-button {
  border-radius: 0 4px 4px 0;
  border: none;
  padding: 8px 50px;
  color: #ffffff;
}

.page-footer {
  padding: 40px 70px 30px;
}

.footer-container {
  width: 1060px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social {
  width: 142px;
}

.footer-social-list {
  width: 144px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

}

.footer-social-item {
width: 48px;
height: 60px;
position: relative;
}

.footer-social-button,
.footer-academy-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.footer-social-button:hover {
  fill: #68A2CA;
}

.footer-social-button:focus {
  fill: #68A2CA;
}

.footer-social-button:active {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-telephone-number {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  width: 720px;
}

.footer-telephone-number:hover {
  color: #756157;
}

.footer-telephone-number:focus {
  color: #756157;
}

.footer-telephone-number:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-academy-site {
  width: 115px;
  position: relative;
}

.footer-academy-button {
  fill: rgba(0, 0, 0, 1);
}

.footer-academy-button:hover {
  fill: #756157;
}

.footer-academy-button:focus {
  fill: #756157;
}

.footer-academy-button:active {
  fill: rgba(117, 97, 87, 0.3);
}

.main-inner {
  text-align: left;
}

.catalog-control-block {
  height: 412px;
  color: #ffffff;
  background-color: #000000;
  background-image: url(../images/catalog/catalog-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.control-block-container {
  margin: 0;
  padding: 35px 70px 70px;
  display: flex;
  flex-direction: column;
}

.inner-header-title {
  margin: 0 0 8px 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  margin: 0 0 40px 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  margin-right: 28px;
  transition: 200ms linear;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: rgba(255, 255, 255, 1);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link-home {
  display: block;
  background-image: url(../images/catalog/home-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 13px;
  height: 13px;
}

.breadcrumbs-link-home:hover {
  opacity: 0.6;
}

.breadcrumbs-link-home:focus {
  opacity: 1;
}

.breadcrumbs-link-home:active {
  opacity: 0.3;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
  position: relative;
}

.breadcrumbs-item::after {
  content: url(../images/catalog/path-arrow.svg);
  height: 10px;
  width: 6px;
  position: absolute;
  right: 11px;
  top: 0;
  }

.breadcrumbs-item:last-child::after {
  content: none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
  padding: 0;
}

.catalog-filter-group {
  margin: 0 70px 0 0;
  padding: 0;
  border: none;
}

.catalog-filter-group:last-of-type {
  margin: 0;
}

.catalog-filter-list {
  margin: 32px 0 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.filter-group {
  display: flex;
  justify-content: space-between;
}

.filter-group-left {
  display: flex;
}

.filter-group-infrastructure {
  width: 150px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 4px;
}

.control:hover .control-mark {
  opacity: 0.6;
}

.control-input:focus + .control-mark {
  outline: 3px solid rgba(131, 179, 211, 1);
}

.control-input:active + .control-mark {
  opacity: 0.3;
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  left: 50%;
  transform: translateX(-6px);
  top: -1px;
  width: 12px;
  height: 10px;
  content: url(../images/catalog/checkbox-tick.svg);
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.filter-group-type {
  width: 160px;
}

.filter-button {
  border: none;
  border-radius: 4px;
  width: 191px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.filter-group-right {
  display: flex;
  justify-content: flex-end;
}

.catalog-filter-group-price {
  margin: 0;
  padding: 0;
  border: none;
  width: 288px;
}

.range {
  margin-top: 32px;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 50px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: rgba(255, 255, 255, 1);
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  border-style: none;
  transition: 200ms linear;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.price-input-wrapper {
  display: flex;
  margin-right: 2px;
  flex-grow: 1;
}

.price-input-wrapper-left,
.price-input-wrapper-right {
  position: relative;
}


.price-input-wrapper-left::after {
  position: absolute;
  z-index: 1;
  top: 12px;
  left: 116px;
  content: "от";
  color:rgba(0, 0, 0, 0.3)
}

.price-input-wrapper-right::after {
  position: absolute;
  z-index: 1;
  top: 12px;
  left: 114px;
  content: "до";
  color:rgba(0, 0, 0, 0.3)
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
  }

.range-input {
  padding: 12px 40px 12px 20px;
  width: 84px;
  font: inherit;
  background-color: #F2F2F2;
  border: none;
  appearance: textfield;
  flex-grow: 1;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  transition: 200ms linear;
}

.range-input:hover {
  background-color: #E6E6E6;;
}

.range-input:focus {
  background: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.range-input:active {
  background: #F2F2F2;
  outline: 2px solid #000000;
}

.range-input-min {
  border-radius: 4px 0 0 4px;
}

.range-input-max {
  border-radius: 0 4px 4px 0;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.filter-group-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 32px;
  margin-left: 70px;
}

.catalog {
  background: #ffffff;
  padding: 50px 70px 60px;
}

.sorting {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.catalog-result-title {
  display: block;
  margin: 0 auto 0 0;
  padding: 6px 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.select-control {
  padding: 14px 20px;
  min-width: 292px;
  font-size: 18px;
  line-height: 21px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  transition: 200ms linear;
  appearance: none;
  background-image: url("../images/catalog/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.select-control:hover {
  border-color: #68A2CA;
}

.select-control:focus {
  border-color: #3F5E72
}

.select-control:disabled {
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}



.select-list {
  margin: 0 0 0 70px;
  padding: 0;
  list-style-type: none;
  min-width: 160px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.select-item {
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  display: block;
  transition: 200ms linear;
}

.select-item:hover {
  border-color: #000000;
}

.select-item:focus {
  border-color: #68A2CA;
}

.select-item:active {
  border-color: #000000;
}

.select-item-tile {
  background-image: url(../images/catalog/mapping-tile.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.select-item-cards {
  background-image: url(../images/catalog/mapping-cards.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.select-item-list {
  background-image: url(../images/catalog/mapping-list.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.select-item {
  min-width: 48px;
}

.products {
  margin: 40px auto 0;
}

.product-list {
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

.product-card {
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 20px;
  display: grid;
  grid-template-columns: 140px 140px;
  column-gap: 20px;
  row-gap: 16px;
}

.product-card-link {
  grid-column: span 2;
  text-decoration: none;
}

.product-card-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.product-card-price {
  justify-self: end;
}

.product-card-stars {
  display: flex;
  align-items: center;
  gap: 6px;
}

.product-card-one-star {
  background-image: url(../images/catalog/star.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 18px;
  height: 18px;
}

.pagination {
  margin: 80px 0 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.pagination-item {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-item-default {
  background: #82b3d3;
}

.pagination-item-default:hover {
  background: #68A2CA;
  border: 1px solid #82B3D3;
}

.pagination-item-default:focus {
  background: #68A2CA;
  outline: 1px solid #82B3D3;
}

.pagination-item-default:active .pagination-link {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-item-current {
  background: #f2f2f2;
  color: #000000;
}

.pagination-select {
  background: none;
  color: #000000;
  border: 0;
}

.pagination-select .pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
  text-decoration: none;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
}

.pagination-link-current {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
  text-decoration: none;
}

.subscribe-no-background {
  background: none;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  border: 0;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-search {
  width: 716px;
  box-sizing: border-box;
}

.modal-content {
  position: relative;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 0;
  right: -18px;
  width: 52px;
  height: 52px;
  background-image: url("../images/index/close-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-color: #F2F2F2;
  border: none;
  border-radius: 50%;
  transition: 200ms linear;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.modal-close-button:active {
  outline: none;
  opacity: 0.3;
}

.modal-title {
  margin: 0 0 64px 0;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: left;
}

.modal-search-field-set {
  display: grid;
  grid-template-columns: 136px 110px 220px 110px;
  row-gap: 48px;
  align-items: center
}

.modal-date-wrapper{
  grid-column: 2 / 5;
  background: #F2F2F2;
  position: relative;
  border-radius: 4px;
}

.modal-date-wrapper::after {
  position: absolute;
  content: url(../images/catalog/date-icon.svg);
  top: 14px;
  right: 20px;
  opacity: 0.3;
}

.modal-date-wrapper:first-of-type::before {
  position: absolute;
  content: "Мы не можем отправить вас в прошлое.";
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FF5757;
  top: 50px;
  left: 40px;
}

.modal-date-wrapper ~ .modal-date-wrapper::before {
  position: absolute;
  content: "На эти даты есть свободные номера. Пока есть.";
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  top: 50px;
  left: 40px;
}

.modal-children-wrapper {
  grid-column: 4 / 5;
  position: relative;
}

.modal-adults-wrapper ~ .input-field-discription {
  margin-left: 88px;
}

.modal-adults-wrapper {
  grid-column: 2 / 3;
  position: relative;
}

.modal-search-button {
  grid-column: 1 / 5;
  border: none;
  padding: 18px 76px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.input-field,
.input-field::placeholder {
  padding: 12px 20px;
  background: #F2F2F2;
  border-radius: 4px;
  border: none;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  box-sizing: border-box;
  width: 100%
}

.input-field::-webkit-outer-spin-button,
.input-field::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.input-field-discription {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
}

.input-field-children,
.input-field-adults {
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

.modal-button {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 14px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 4px;
  opacity: 0.3;
  transition: 200ms linear;
}

.modal-button:hover {
  opacity: 1;
}

.modal-button:focus {
  opacity: 1;
  outline: 3px solid #82B3D3;
}

.modal-button:active {
  opacity: 0.2;
  outline: none;
}

.modal-button-adults-minus,
.modal-button-children-minus {
  left: 12px;
  background-image: url(../images/catalog/modal-minus.svg);
}

.modal-button-adults-plus,
.modal-button-children-plus {
  right: 12px;
  background-image: url(../images/catalog/modal-plus.svg);
}

.tooltip {
  position: absolute;
  margin-top: 0;
  margin-left: 10px;
  width: 26px;
  height: 26px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  display: block;
}

.tooltip-text {
  position: absolute;
  display: none;
  padding: 15px 18px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 256px;
  top: 100%;
  margin-top: 14px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.tooltip-text:after {
  position: absolute;
  content:'';
  background-image: url(../images/catalog/tooltip-triangle.svg);
  width: 19px;
  height: 9px;
  bottom: 100%;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
}
